@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic-ext,latin-ext);

body {
	background: linear-gradient(to bottom, #445058, #5b6973);
	font-family: 'PT Sans Caption', sans-serif;
}

p {
	line-height: 26px;
}

.clear {
	clear:both;
}

#bs-example-navbar-collapse-1 {
	line-height: 60px;
	height: 600px;
}


header .navbar {
	background-color: #e3dbd2;
	border-radius: 0;
	margin: 0;
	min-height: 90px;
	min-width: 460px;
	border-bottom: 1px solid #a9a8a8;
}

header .navbar:last-of-type {
	min-height: 30px;
}

input.form-control {
	border: none;
	background-color: #b8b5aa;
	border-radius: 0;
}

#search-button {
	width: 40px;
	border: 0;
	border-radius:0;
	height: 2.4em;
	margin-left: -3px;
	margin-top: -1px;
	background-color: #2b904d;	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab-content{
	background-color: #fafaf7;
	min-height: 920px;
}

.pa7-tab-content-inside {
	width: 90%;
	margin: auto;
	padding: 60px 0;
}

ul.nav.navbar-nav {
	height: 50px;
	margin-left: 8px;
}
#profile-link {
	top: 3px;
	right:40px;
	padding: 5px;
}

.nav.nav-tabs li {
	width: 50%;
	padding-left: 10px;



}

.nav.nav-tabs li:first-child {
	margin-left: 0;
	padding-left: 0px;
}

.nav-tabs>li>a{
	border-color:#eee #eee #ddd;
	background-color: #eee;
	margin-right: 0;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	color: #555;
	
}

.pa7-tabs {
	position: relative;
}

.download-marker {
	position: absolute;
	top:-8px;
	left: -8px;
}

input {
	background-color: #ece7e1;
	border: 1px solid grey;
	border-radius: 3px;
	height: 30px;
}
input:focus {
	outline: none;
}

input[type="submit"] {
	height: 50px;
	border: none;
	background-color: #26813b;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: #1f5837;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #a6161a;
}


/*tab box*/

.pa7-page-header {
	margin-top: 60px;
	padding-bottom: 10px;
	color: #e5dfd5;
}


.pa7-inside-main-content input {
	width: 100%;
	margin: 10px 0;
}

.pa7-inside-main-content input[type="checkbox"] {
	width: 15px;
}

.confidential-checkbox {
	display: inline-block;
	font-weight: normal;
	vertical-align: top;
}

.confidential-checkbox:first-of-type{
	width: 1%;

}
.confidential-checkbox:last-of-type {
	width: 97%;
	margin-left: 5px;
}

.confidential-checkbox input {
	margin: 0;
	padding: 0;
}

.footer {
	height: 50px;
	background-color: #242b30;
}

.footer .container p {
	line-height: 40px;
}


/* типовая текстовая */

.pa7-content-box {
	background-color: #fafaf7;
	min-height: 700px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.pa7-container {
	background-color: #fafaf7;
	width: 90%;
	margin: 50px auto;
}

.alert {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	color: white;
	background-color: rgba(125,128,126, .7);
}

/*цели миссия ценности*/

.pa7-goals-tab .nav.nav-tabs li {
	width:33.33%;
}

.pa7-content-box h3{
	margin: 0;
	padding: 20px 0;
}

.pa7-goals-tab-inside {
	background-color: #fafaf7;
	width: 90%;
	margin: auto;
	padding-bottom: 30px;
}

/*books-page*/
.container.pa7-content-box.books {
	padding: 0;
}

.pa7-container.books {
	background-color: transparent;
}
.books-intro, .book-light {
	background-color: #fafaf7;
}

.book-dark {
	background-color: #e4e2d3;
}

.pa7-container.books .col-md-3 {
	padding: 0;
}